.globalErrandsModal-trip{

  .ant-modal{
    width: 300px !important;

    .ant-modal-title{
      text-align: center;
    }
    .ant-modal-footer {
      display: flex;;
      flex-direction: row;
      justify-content: center;
    }
    .ant-modal-footer div{
      display: flex;;
      flex-direction: row;
      justify-content: center;
    }
    .ant-modal-body{
      width: 300px !important;

      .editInfo{
        margin:0 auto 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p{
          margin: 0;
        }
        input{
          width: 150px;
          margin-left: 20px;
        }
      }

    }
  }


}