.permissions {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: auto;

  .btnLine {
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
  }

  .tableMain {
    max-width: 980px;
  }
}

.permissionsDetailsModal {
  .ant-form-item {
    margin-bottom: 10px;

    input {
      width: 200px;
    }

    .ant-select {
      width: 200px;
    }
  }
}