.setRebate {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: auto;
  position: relative;

  .title {
    font-size: 26px;
    line-height: 48px;
    padding-left: 12px;
    color: #333;
  }
  .titleLine {
    width: calc( 100% - 20px );
    height: 1px;
    background-color: #ddd;
    margin: 0 10px;
  }

  .shopSelect {
    width: 100%;
    height: 64px;
    line-height: 64px;
    padding-left: 32px;

    .selectShops {
      width: 200px;
    }
  }

  .noShop {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    //position: absolute;
    //top: 0;
    //left: 350px;

    .iconShop{
      color: #1890ff;
      margin-right: 10px;
    }
  }

  .btnLine {

    .createNew {
      margin-left: 20px;
    }
  }

  .tableList {
    margin: 16px 10px;

    th {
      padding: 10px;
      line-height: 1.1;
      text-align: center;
      vertical-align: middle;
    }

    td {
      padding: 5px 10px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.modalWrap {
  // 去除input type为number时的上下箭头
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
  }
}
