.wait-purchasing {


  .purchaseTableMain{
    min-width: 1080px;

  }

}

.globalErrandsModal {


  .ant-modal {
    width: 300px !important;

    .ant-modal-title {
      text-align: center;
    }

    .ant-modal-footer {
      display: flex;;
      flex-direction: row;
      justify-content: center;
    }

    .ant-modal-footer div {
      display: flex;;
      flex-direction: row;
      justify-content: center;
    }

    .ant-modal-body {
      width: 300px !important;

      .ant-radio-wrapper {
        margin-bottom: 10px;
      }

      textarea {
        resize: none !important;
      }

    }
  }


}