.adoptExamineUnpaid{
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: auto;

  .btnLine{
    margin: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mask{
    position: absolute;
    top: 0;
    bototm:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
    opacity: .3;
    z-index: 5
  }
  .showRemark {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    height: 280px;
    padding: 20px 30px;;
    background: #fff;
    border: 1px solid #000;
    z-index: 10;

    .remark-title {
      height: 50px;

      .anticon {
        float: right;

        svg {
          width: 20px;
          height: 20px;
        }
      }
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
    p{
      text-align: center;
      margin-bottom: 20px;
    }
    Button {
      margin: 20px 0 0 112px;
      text-align: center;
    }
  }
}